<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<!-- Interactions avec la BDD -->
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property
name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost/actu_buster</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">activ</property>
<property name="hbm2ddl.auto">create</property>
<!-- Seront indiqués ici les fichiers de mapping -->
<mapping class="beans.Membres"/>
<mapping class="beans.Articles"/>
<mapping class="beans.Tags"/>
<mapping class="enumerations.Categories"/>
<mapping class="enumerations.Niveaux"/>
</session-factory>
</hibernate-configuration>