<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
  	<servlet-name>Accueil</servlet-name>
  	<display-name>Accueil</display-name>
  	<description></description>
  	<servlet-class>servlets.Accueil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticlesRecherche</servlet-name>
  	<display-name>ArticlesRecherche</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticlesRecherche</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticleDetail</servlet-name>
  	<display-name>ArticleDetail</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticleDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuizzRecherche</servlet-name>
  	<display-name>QuizzRecherche</display-name>
  	<description></description>
  	<servlet-class>servlets.QuizzRecherche</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuizzDetail</servlet-name>
  	<display-name>QuizzDetail</display-name>
  	<description></description>
  	<servlet-class>servlets.QuizzDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Connexion</servlet-name>
  	<display-name>Connexion</display-name>
  	<description></description>
  	<servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deconnexion</servlet-name>
  	<display-name>Deconnexion</display-name>
  	<description></description>
  	<servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Inscription</servlet-name>
  	<display-name>Inscription</display-name>
  	<description></description>
  	<servlet-class>servlets.Inscription</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PageMembre</servlet-name>
  	<display-name>PageMembre</display-name>
  	<description></description>
  	<servlet-class>servlets.PageMembre</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreactionBDD</servlet-name>
  	<display-name>CreactionBDD</display-name>
  	<description></description>
  	<servlet-class>servlets.CreactionBDD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjouterArticle</servlet-name>
  	<display-name>AjouterArticle</display-name>
  	<description></description>
  	<servlet-class>servlets.AjouterArticle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdministrationDuSite</servlet-name>
  	<display-name>AdministrationDuSite</display-name>
  	<description></description>
  	<servlet-class>servlets.AdministrationDuSite</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticlesFavoris</servlet-name>
  	<display-name>ArticlesFavoris</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticlesFavoris</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticlesJournalistes</servlet-name>
  	<display-name>ArticlesJournalistes</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticlesJournalistes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticlesJournaliste</servlet-name>
  	<display-name>ArticlesJournaliste</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticlesJournaliste</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Infos</servlet-name>
  	<display-name>Infos</display-name>
  	<description></description>
  	<servlet-class>servlets.Infos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Messages</servlet-name>
  	<display-name>Messages</display-name>
  	<description></description>
  	<servlet-class>servlets.Messages</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Accueil</servlet-name>
  	<url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticlesRecherche</servlet-name>
  	<url-pattern>/ArticlesRecherche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticleDetail</servlet-name>
  	<url-pattern>/ArticleDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuizzRecherche</servlet-name>
  	<url-pattern>/QuizzRecherche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuizzDetail</servlet-name>
  	<url-pattern>/QuizzDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Connexion</servlet-name>
  	<url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deconnexion</servlet-name>
  	<url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Inscription</servlet-name>
  	<url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PageMembre</servlet-name>
  	<url-pattern>/PageMembre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreactionBDD</servlet-name>
  	<url-pattern>/CreactionBDD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjouterArticle</servlet-name>
  	<url-pattern>/AjouterArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdministrationDuSite</servlet-name>
  	<url-pattern>/AdministrationDuSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>

  	<servlet-name>ArticlesFavoris</servlet-name>
  	<url-pattern>/ArticlesFavoris</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticlesJournalistes</servlet-name>
  	<url-pattern>/ArticlesJournalistes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticlesJournaliste</servlet-name>
  	<url-pattern>/ArticlesJournaliste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Infos</servlet-name>
  	<url-pattern>/Infos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Messages</servlet-name>
  	<url-pattern>/Messages</url-pattern>

  </servlet-mapping>

</web-app>
