<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
  	<servlet-name>Accueil</servlet-name>
  	<display-name>Accueil</display-name>
  	<description></description>
  	<servlet-class>servlets.Accueil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticlesRecherche</servlet-name>
  	<display-name>ArticlesRecherche</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticlesRecherche</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticleDetail</servlet-name>
  	<display-name>ArticleDetail</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticleDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Connexion</servlet-name>
  	<display-name>Connexion</display-name>
  	<description></description>
  	<servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deconnexion</servlet-name>
  	<display-name>Deconnexion</display-name>
  	<description></description>
  	<servlet-class>servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Inscription</servlet-name>
  	<display-name>Inscription</display-name>
  	<description></description>
  	<servlet-class>servlets.Inscription</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NousContacter</servlet-name>
  	<display-name>NousContacter</display-name>
  	<description></description>
  	<servlet-class>servlets.NousContacter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreationBDD</servlet-name>
  	<display-name>CreationBDD</display-name>
  	<description></description>
  	<servlet-class>servlets.CreationBDD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjouterArticle</servlet-name>
  	<display-name>AjouterArticle</display-name>
  	<description></description>
  	<servlet-class>servlets.AjouterArticle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdministrationDuSite</servlet-name>
  	<display-name>AdministrationDuSite</display-name>
  	<description></description>
  	<servlet-class>servlets.AdministrationDuSite</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ArticlesJournaliste</servlet-name>
  	<display-name>ArticlesJournaliste</display-name>
  	<description></description>
  	<servlet-class>servlets.ArticlesJournaliste</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Infos</servlet-name>
  	<display-name>Infos</display-name>
  	<description></description>
  	<servlet-class>servlets.Infos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AfficherMessages</servlet-name>
  	<display-name>AfficherMessages</display-name>
  	<description></description>
  	<servlet-class>servlets.AfficherMessages</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Accueil</servlet-name>
  	<url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticlesRecherche</servlet-name>
  	<url-pattern>/ArticlesRecherche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticleDetail</servlet-name>
  	<url-pattern>/ArticleDetail</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>NousContacter</servlet-name>
  	<url-pattern>/NousContacter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Connexion</servlet-name>
  	<url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deconnexion</servlet-name>
  	<url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Inscription</servlet-name>
  	<url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreationBDD</servlet-name>
  	<url-pattern>/CreationBDD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjouterArticle</servlet-name>
  	<url-pattern>/AjouterArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdministrationDuSite</servlet-name>
  	<url-pattern>/AdministrationDuSite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArticlesJournaliste</servlet-name>
  	<url-pattern>/ArticlesJournaliste</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Infos</servlet-name>
  	<url-pattern>/Infos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AfficherMessages</servlet-name>
  	<url-pattern>/AfficherMessages</url-pattern>

  </servlet-mapping>

</web-app>
